# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_pd = pd.read_csv("../output_data/Cities.csv")
cities_pd.head()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.8000,-68.3000,53.60,50,40,6.91,AR,1620793601
1,1,Enid,36.3956,-97.8784,48.00,87,1,6.91,US,1620793807
2,2,Huarmey,-10.0681,-78.1522,65.80,85,4,7.72,PE,1620793808
3,3,Hūn,29.1268,15.9477,78.75,26,0,4.07,LY,1620793808
4,4,Disna,55.5680,28.1971,57.81,83,17,9.69,BY,1620793809

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [5]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities_pd[["Lat", "Lng"]].astype(float)

# Convert humidity to float and store
# HINT: be sure to handle NaN values
cities_pd = cities_pd.dropna()
humidity = cities_pd["Humidity"].astype(float)

# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights= humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#Narrow down the DataFrame to find your ideal weather condition. For example:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.

ideal_df = cities_pd.loc[(cities_pd["Max Temp"] > 70) &
                         (cities_pd["Max Temp"] < 80) &
                         (cities_pd["Wind Speed"] < 10) &
                         (cities_pd["Cloudiness"] == 0), :].reset_index(drop=True).dropna()
ideal_df

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,3,Hūn,29.1268,15.9477,78.75,26,0,4.07,LY,1620793808
1,15,Saint-Leu,-21.1500,55.2833,77.00,64,0,4.61,RE,1620793813
2,54,Alice Springs,-23.7000,133.8833,73.99,34,0,8.05,AU,1620793809
3,64,Saint-Philippe,-21.3585,55.7679,77.00,64,0,4.61,RE,1620793921
4,207,Oussouye,12.4850,-16.5469,73.40,88,0,4.61,SN,1620793976
5,249,Seoul,37.5683,126.9778,77.00,23,0,4.61,KR,1620793945
6,254,Beni Mazar,28.4962,30.8029,70.20,52,0,6.69,EG,1620793994
7,295,Saint-Joseph,-21.3667,55.6167,75.20,64,0,4.61,RE,1620794010
8,319,Ocho Rios,18.4025,-77.1048,75.99,93,0,8.57,JM,1620794019
9,337,Silopi,37.2497,42.4694,78.44,16,0,2.62,TR,1620794026
10,389,Yangi Marg`ilon,40.4272,71.7189,73.40,38,0,4.61,UZ,1620794046
11,407,Mount Isa,-20.7333,139.5000,78.80,25,0,6.91,AU,1620794053
12,425,Erbil,36.1926,44.0106,73.40,18,0,4.61,IQ,1620794060
13,453,Touros,-5.1989,-35.4608,73.40,94,0,6.91,BR,1620794069
14,521,Turaif,31.6725,38.6637,73.40,33,0,4.61,SA,1620794096

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = ideal_df[["City", "Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

<ipython-input-7-69ace26b87e9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

               City Country      Lat       Lng Hotel Name
0               Hūn      LY  29.1268   15.9477
1         Saint-Leu      RE -21.1500   55.2833
2     Alice Springs      AU -23.7000  133.8833
3    Saint-Philippe      RE -21.3585   55.7679
4          Oussouye      SN  12.4850  -16.5469
5             Seoul      KR  37.5683  126.9778
6        Beni Mazar      EG  28.4962   30.8029
7      Saint-Joseph      RE -21.3667   55.6167
8         Ocho Rios      JM  18.4025  -77.1048
9            Silopi      TR  37.2497   42.4694
10  Yangi Marg`ilon      UZ  40.4272   71.7189
11        Mount Isa      AU -20.7333  139.5000
12            Erbil      IQ  36.1926   44.0106
13           Touros      BR  -5.1989  -35.4608
14           Turaif      SA  31.6725   38.6637

In [17]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
keyword = "hotel"
radius = 5000


# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    coordinates = f"{row['Lat']},{row['Lng']}"
   
    params = {
    "location": coordinates,
    "radius": radius,
    "keyword": keyword,
    "key": g_key,
}

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest Hotel in {city} is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']

        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: Turaif.
Closest Hotel in Turaif is Alrwasi Hotel.
------------
Retrieving Results for Index 1: Turaif.
Closest Hotel in Turaif is Iloha Seaview Hotel.
------------
Retrieving Results for Index 2: Turaif.

C:\Users\steve\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Closest Hotel in Turaif is DoubleTree by Hilton Hotel Alice Springs.
------------
Retrieving Results for Index 3: Turaif.
Closest Hotel in Turaif is Les Embruns Du Baril.
------------
Retrieving Results for Index 4: Turaif.
Closest Hotel in Turaif is Campement ALULUM.
------------
Retrieving Results for Index 5: Turaif.
Closest Hotel in Turaif is Banyan Tree Club & Spa Seoul.
------------
Retrieving Results for Index 6: Turaif.
Missing field/result... skipping.
------------
Retrieving Results for Index 7: Turaif.
Closest Hotel in Turaif is Gandalf Safari Camp.
------------
Retrieving Results for Index 8: Turaif.
Closest Hotel in Turaif is Moon Palace® Jamaica All Inclusive Resort.
------------
Retrieving Results for Index 9: Turaif.
Closest Hotel in Turaif is Grand Hotel.
------------
Retrieving Results for Index 10: Turaif.
Closest Hotel in Turaif is Diyor hotel.
------------
Retrieving Results for Index 11: Turaif.
Closest Hotel in Turaif is Redearth Boutique Hotel.
------------
Retrieving Results for Index 12: Turaif.
Closest Hotel in Turaif is Divan Erbil Hotel.
------------
Retrieving Results for Index 13: Turaif.
Closest Hotel in Turaif is Hotel Vila Gale Touros.
------------
Retrieving Results for Index 14: Turaif.
Closest Hotel in Turaif is Golden Dune Hotel.
------------

In [18]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
0,Hūn,LY,29.1268,15.9477,Alrwasi Hotel
1,Saint-Leu,RE,-21.1500,55.2833,Iloha Seaview Hotel
2,Alice Springs,AU,-23.7000,133.8833,DoubleTree by Hilton Hotel Alice Springs
3,Saint-Philippe,RE,-21.3585,55.7679,Les Embruns Du Baril
4,Oussouye,SN,12.4850,-16.5469,Campement ALULUM
5,Seoul,KR,37.5683,126.9778,Banyan Tree Club & Spa Seoul
6,Beni Mazar,EG,28.4962,30.8029,Bani Mazar
7,Saint-Joseph,RE,-21.3667,55.6167,Gandalf Safari Camp
8,Ocho Rios,JM,18.4025,-77.1048,Moon Palace® Jamaica All Inclusive Resort
9,Silopi,TR,37.2497,42.4694,Grand Hotel
10,Yangi Marg`ilon,UZ,40.4272,71.7189,Diyor hotel
11,Mount Isa,AU,-20.7333,139.5000,Redearth Boutique Hotel
12,Erbil,IQ,36.1926,44.0106,Divan Erbil Hotel
13,Touros,BR,-5.1989,-35.4608,Hotel Vila Gale Touros
14,Turaif,SA,31.6725,38.6637,Golden Dune Hotel

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# Create bank symbol layer
markers = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))